[Unit]
Description=Nightly repo maintainer for devkit

[Service]
Type=oneshot
WorkingDirectory=C:/Users/murak/repos/devkit
ExecStart=C:/Users/murak/repos/devkit/.devkit/bin/repo-maintainer.sh
